.calculator-buttons {
  border-radius: 0px;
  min-width: 50px;
  font-size: 18px;
}
.btn-secondary:hover {
  color: orangered;
}
.operator {
  font-weight: bold;
  color: #ff9900;
}
.clear {
  color: #ff8080;
  letter-spacing: 1px;
}
.backSpace {
  color: #ff8080;
}
